.custom-register-switch-text {
    font-weight: bold !important;
    color: red;
    transition: opacity 0.7s !important;
}
@media (hover: hover) {
    .custom-register-switch-text:hover {
        opacity: 0.7;
        color: red;
    }
}