.custom-signup-component {
    border: 1px solid lightgray;
    border-radius: 6px;
    width: 50%;
    margin: 5% auto;
    padding: 5%;
}

.custom-signup-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 30px;
    margin-top: 5%;
}

.email {
    grid-column: 2/4;
}

.password-label {
    grid-column: 1/2;
}

.confirm-password-label {
    grid-column: 2/3;
}

.custom-signup-form-button {
    grid-column: 1/4;
    /*grid-column: 3/4;*/
    grid-row: 4/5;
    margin-bottom: 3%;
}

@media (max-width: 1024px) {
    .custom-signup-form {
        grid-template-columns: 1fr 1fr;
    }

    .password-label {
        grid-column: unset;
    }

    .confirm-password-label {
        grid-column: unset;
    }

    .custom-signup-form-button {
        grid-column: 1/3;
    }
}

@media (max-width: 576px) {
    .custom-signup-form-button {
        margin-bottom: 6%;
    }
}

@media (max-width: 451px) {
    .custom-signup-form {
        grid-template-columns: 1fr;
    }

    .custom-signup-form-button {
        grid-column: 1/2;
    }
}