.state > h5 {
    cursor: pointer;
}
.state > h5:hover {
    opacity: 0.7;
}

.state-icons-container {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.state-icons-container > svg {
    cursor: pointer;
    width: 2rem;
}
.state-icons-container > svg:hover {
    opacity: 0.7;
}

.state-icons-container > .edit {
    color: yellow;
}

.state-icons-container > .delete {
    color: red;
}