.custom-form-select {
    color: black;
    background-image: url("../../assets/dropdown-arrow-black.svg");
    cursor: pointer;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out, color 0.5s, background-image 0.3s !important;
}

.custom-form-select.default {
    color: gray;
    background-image: url("../../assets/dropdown-arrow-gray.svg");
}
@media (hover: hover) {
    .custom-form-select.default:hover {
        color: black;
        background-image: url("../../assets/dropdown-arrow-black.svg");
    }
}
